.glb filter=lfs diff=lfs merge=lfs -text
mclaren_mp45__www.vecarz.com.glb[[:space:]]is[[:space:]]105.75 filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
car/public/*.glb filter=lfs diff=lfs merge=lfs -text
