.car-and-text{
    display: flex;
    justify-content: space-between;
}

.left-main-p{
    margin:auto;
    margin-left: 230px;
    display: grid;
}
.ri-fire-fill{
    color: #F38C79;
    font-size: 25px;
    margin-right: 5px;
}
.first-left-main{
    color: white;
    font-size: 25px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
   
    
}
.second-left-main{
    color: white;
    margin-top: 50px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-size: 55px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}
.third-left-main{
    color: white;
    margin-top: 50px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    line-height: 35px;
}
.end-left-main{
    margin-top: 50px;
}
.btn-left-main{
    padding: 17px 18px 17px 18px;
    border-radius: 15px;
    background-color: #8AB2A6;
    color: white;
    font-size: 18px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: none;
    cursor: pointer;   
    transition: 0.3s; 
}
.btn-left-main:hover{
    background-color: #387478;
    color: black;
    
}
.btn-left-main-2{
    padding: 17px 18px 17px 18px;
    border-radius: 15px;
    background-color: #328E6E;
    color: white;
    font-size: 18px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: none;
    cursor: pointer;   
    transition: 0.3s; 
    margin-left: 20px;
}
.btn-left-main-2:hover{
    background-color: #8AB2A6;
    color: black;
    
}